.backgroundActivity {
    background-color: var(--secondary-clr);
    border-radius: 10px;
    height: 368px;
    padding: 2rem;
    width: 60vw;
    // max-width: 100%;

    .activity--label {
        font-size: min(1.2rem, 1.2vw);
        font-weight: 600;
    }

    .recharts-default-legend {
        font-size: min(1rem, 1.2vw);
    }

    @media (max-width: 1199.98px) {
        max-width: 600px;
    }
}