.mainContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 5rem;
    height: fit-content;

    @media (max-width: 1199.98px) {
        gap: 2rem;
    }
}

.charts--container {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    width: calc(70vw - 7em);
    height: fit-content;
}

.charts--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;

        @media (max-width: 1199.98px) {
                max-width: 600px;
            }
}