.macrosList--container {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        gap: 1rem;
        background: #FBFBFB;
        padding: 1.5em 2.5em 1.5em 1.5em;
        border-radius: 10px;

        img {
            max-width: 100vw;
            max-height: 100vh;
        }
    }

    .macrosLabel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        p {
            margin: 0;
            font-weight: 700;
            font-size: min(2rem, 1vw);
        }

        label {
            color: #74798C;
            font-size: min(.8rem, 1vw);
            font-weight: 600;
        }

    }

    @media (max-width: 1199.98px) {
        min-width: 250px;
        padding-right: 4rem;

        li {
            gap: 1rem;
            padding: 1em;
        }

        .macrosLabel {
            p {
                font-size: 1rem;
            }

            label {
                font-size: 0.8rem;
            }
        }
    }
}