.backgroundDailyScore {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    background-color: var(--secondary-clr);
    border-radius: 10px;
    padding: 1rem;
    height: 320px;
}

.score-session--title {
    font-size: min(1.2em, 1.2vw);
    font-weight: 600;
}

.score-session--value {
    font-size: min(2rem, 1.5vw);
    font-weight: 700;
}

.score-session--label {
    font-size: min(1.25em, 1vw);
    opacity: .5;
    inline-size: 100px;
    overflow-wrap: break-word;
}

@media (max-width: 1199.98px) {
    .backgroundDailyScore {
        max-width: 168px;
        height: 168px;
    }
}