.header {
    display: flex;
    flex-direction: column;
    text-align: left;

    h1 {
        font-size: min(3em, 3vw);
        font-weight: 600;
        margin: 0;

        .userFirstName {
            color: #ff0101;
        }
    }

    p {
        font-size: min(1.2rem, 1.2vw);
        font-weight: 600;
    }

    @media (max-width: 1199.98px) {
        
    }
}