.welcomeMessage {
    text-align: left;
}

.welcomeMessage h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.welcomeMessage p {
    font-weight: 600;
}

.userFirstName {
    color: #ff0101;
}