aside {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    min-height: 100vh;
    max-width: 7em;
    justify-content: space-around;
    justify-items: center;
    text-align: center;

    @media (max-width: 1024px) {
        width: 5em;
    }
}

.activity ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
    padding: 0;

    @media (max-width: 1199.98px) {
        img {
            width: 60%;
        }
    }
}

.copyright {
    transform: rotate(-90deg);
    white-space: nowrap;

    @media (max-width: 1199.98px) {
        font-size: 1rem;
    }
}