aside {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    min-height: 100vh;
    max-width: 7em;
    justify-content: space-around;
    justify-items: center;
    text-align: center;

    .activity ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        list-style-type: none;
        gap: 1em;
        padding: 0;
    }

    .copyright {
        transform: rotate(-90deg);
        white-space: nowrap;
    }

    @media (max-width: 1199.98px) {
        width: 5rem;

        .activity ul {
            img {
                width: 60%;
            }
        }

        .copyright {
            font-size: .8rem;
        }
    }
}